:local .ChatView {

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #95a5a6;
  }

  ul {
    list-style: none;
    overflow: auto;
  }

  .chat-player {
    background: linear-gradient(black, gray);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #ecf0f1;
    font-family: sans-serif;
    padding: 1px;
    width: 100%;

    .player-messages {
      height: 150px;
      overflow: auto;
      padding: 1px 20px 20px;
      position: relative;
      right: 140px;
      word-wrap: break-word;
    }
  }
  .chat-dealer {
    background: gray;
    color: #ecf0f1;
    font-family: sans-serif;
    padding: 1px;
    width: 100%;

    .dealer-messages {
      height: 150px;
      overflow: auto;
      padding: 1px 20px 20px;
      word-wrap: break-word;
    }
  }
}