:local .ChatForm {

  ::-webkit-input-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    color: #ecf0f1;
    opacity: .4
  }

  .input-form {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #7f8c8d;
    border: 0;
    color: #ecf0f1;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    outline: 0;
    padding: 10px;
    position: relative;
    width: 90%;
  }
}
