:local .ChatItem {
  color: #fff;
  margin: 5px;

  .message {
    display: inline-block;
    margin-left: 5px;
  }

  &--info-true .message{
    font-style: italic;
    font-weight: bold;
    margin: 0;
  }

  &--me-true .player-name, &--me-false .player-name,  {
    font-weight: bold;
  }

  &--me-true .player-name, &--me-true .message {
    color: #aaa;
  }

  &--me-true .message{
    font-weight: normal;
  }
}
